---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="About page">
  <main>
    <h1>About page</h1>
    <a class="text-blue-500" href="/">Home page</a>
  </main>
</MainLayout>
