---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Home page">
  <main>
    <h1>Home page</h1>
    <a class="text-blue-500" href="/about">About page</a>
  </main>
</MainLayout>
