---
import CommonHeader from "@/components/CommonHeader.astro";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHeader title={title} />
  <body>
    <div
      class="flex h-[100dvh] flex-col overflow-auto bg-gray-200 justify-center items-center"
    >
      <div class="flex flex-col">
        <slot />
      </div>
    </div>
  </body>
</html>
