---
import CommonHeader from "@/components/CommonHeader.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHeader title={title} />
  <body>
    <div class="flex h-[100dvh] flex-col overflow-auto bg-gray-200">
      <div class="sticky top-0 z-10 flex-none border-b bg-white shadow-md">
        <div class="container mx-auto h-16">
          <Header title={title} />
        </div>
      </div>
      <div class="container mx-auto flex-auto">
        <slot />
      </div>
      <div class="z-10 flex-none border-t bg-white">
        <div class="container mx-auto h-24">
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
